name: CMake build Linux

on:
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: configure
      run: cmake -B ./build
    - name: make
      run: cmake --build build
    - name: Archive Image
      if: ${{ success() }}
      uses: actions/upload-artifact@v4
      with:
        name: fsm-cmake-linux-image
        path: build/fsm
